<div class="container-fluid p-0" data-aos="fade-down" data-aos-duration="1500">
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="openLogin(content)">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registrarse</a>
        </li>

      </ul>
    </div>
    <a class="navbar-brand" href="#">
      <img src="assets/img/logos/Davivienda-logo1.png" width="20%" height="100%" alt="">
    </a>
  </nav>
</div>


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="pb-2 pl-2 pr-2">
    <div class="row">
      <div class="col-lg-6 hero-img p-0 col-sm-6" data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1500">
        <img src="../../../../assets/img/gallery/Davivienda-Pic.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center col-sm-6" data-aos="fade-right">
        <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="1500" class="text-center w-50">
          <img src="../../../../assets/img/logos/Presto_Logo.svg"  alt="" width="100%">

          <form class="mt-4">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <a class="btn btn-primary btn-block">Continuar</a>
          </form>
        </div>
      </div>

    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= Carousel Section ======= -->
<section class="carousel">
  <div data-aos="fade-right" data-aos-duration="2500">
    <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" autoplayInterval="5000">
      <ng-template let-image pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center">
          <div class="mb-3">
            <a (click)="simulaCredito(contentSimulador)">
              <img [src]="image" class="w-6 shadow-2 img-fluid" />
            </a>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
<!-- End Carousel -->

<!-- Modal Inicio sesión -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <fieldset class="w-100">
          <label for="basicInput">Usuario</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
            <input type="text" formControlName="username" class="form-control" placeholder="Usuario"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.username.invalid, 'is-valid': loginFormSubmitted && !lf.username.invalid }"
              required>
          </div>
          <div *ngIf="loginFormSubmitted && (lf.username.invalid || lf.username.errors?.required)"
            class="help-block text-danger"> <i class="ft-alert-circle align-middle"></i> Campo
            requerido
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset class="w-100">
          <label for="basicInput">Contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.invalid, 'is-valid': loginFormSubmitted && !lf.password.invalid }"
              required>
          </div>
          <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
            class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo requerido
          </div>
        </fieldset>
      </div>
      <div class="d-flex justify-content-between flex-sm-row flex-column">
        <a class="btn btn-primary btn-block" (click)="onSubmit()">Ingresar</a>
      </div>
    </form>
  </div>

</ng-template>
<!-- Fin Modal Inicio sesión -->

<!-- Modal Inicio sesión -->
<ng-template #contentSimulador let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center text-red">Simulador de crédito</h4>
      </div>
      <div class="col-12 col-md-6 offset-md-3">
        <div class="d-flex justify-content-around">
          <div class="flex align-items-center">
            <p-radioButton name="tipo" value="Nuevo" [(ngModel)]="tipo" inputId="nuevo"></p-radioButton>
            <label for="nuevo" class="ml-2">Nuevo</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton name="tipo" value="Seminuevo" [(ngModel)]="tipo" inputId="seminuevo"></p-radioButton>
            <label for="seminuevo" class="ml-2">Seminuevo</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-md-3 mt-4">
        <select class="form-control" aria-label="Default select example">
          <option selected>¿Marca?</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12 col-md-6 offset-md-3 mt-4">
        <input class="form-control" type="text" placeholder="¿Modelo?" aria-label="default input example">
      </div>
      <div class="col-12 col-md-6 offset-md-3 mt-4">
        <input class="form-control" type="text" placeholder="¿Costo? $" aria-label="default input example">
      </div>
      <div class="col-12 col-md-6 offset-md-3 mt-4">
        <input class="form-control" type="text" placeholder="¿Plazo?" aria-label="default input example">
      </div>
      <div class="col-12 col-md-6 offset-md-3 mt-4">
        <input class="form-control" type="text" placeholder="¿Enganche? $" aria-label="default input example">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2 text-center mt-4">
        <i class="pi pi-thumbs-up"></i>
        <p>Crédito</p>
        <p>$</p>
      </div>
      <div class="col-12 col-md-2 text-center mt-4">
        <i class="pi pi-money-bill"></i>
        <p>Mensualidades</p>
        <p>$</p>
      </div>
      <div class="col-12 col-md-2 text-center mt-4">
        <i class="pi pi-calendar"></i>
        <p>Plazo</p>
        <p>00 años</p>
      </div>
      <div class="col-12 col-md-2 text-center mt-4">
        <i class="pi pi-percentage"></i>
        <p>Tasa fija</p>
        <p>0.00%</p>
      </div>
      <div class="col-12 col-md-4 text-center mt-4">
        <p>CAT</p>
        <p>Promedio sin IVA</p>
        <p>0.00%</p>
      </div>
      <div class="col-12 col-md-6 offset-md-3 text-center mt-4">
        <a class=""><b><i class="pi pi-file-pdf"></i> Tabla de amortización</b></a>
      </div>
      <div class="col-12 col-md-6 offset-md-3 text-center mt-4">
        <a class="btn btn-primary btn-block">Quiero mi crédito</a>
      </div>
    </div>
  </div>

</ng-template>
<!-- Fin Modal Inicio sesión -->